/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
:root {
  --surely-table-primary-color: #1677ff;
  --surely-table-primary-color-1: #e6f4ff;
  --surely-table-primary-color-2: #bae0ff;
  --surely-table-primary-color-3: #91caff;
  --surely-table-primary-color-4: #69b1ff;
  --surely-table-primary-color-5: #4096ff;
  --surely-table-primary-color-6: #1677ff;
  --surely-table-primary-color-7: #0958d9;
  --surely-table-primary-color-8: #003eb3;
  --surely-table-primary-color-9: #002c8c;
  --surely-table-primary-color-10: #001d66;
  --surely-table-white: #fff;
  --surely-table-black: #000;
  --surely-table-bg: #fff;
  --surely-table-row-bg: #fff;
  --surely-table-row-hover-bg: #fafafa;
  --surely-table-row-insert-bg: #fff1f0;
  --surely-table-row-selected-bg: var(--surely-table-primary-color-1);
  --surely-table-row-selected-hover-bg: var(--surely-table-primary-color-2);
  --surely-table-expanded-row-bg: #fafafa;
  --surely-table-component-background: #fff;
  --surely-table-background-color: #fafafa;
  --surely-table-background-color-selected: #fafafa;
  --surely-table-background-color-summary: #fafafa;
  --surely-table-header-drag-bg: #f2f2f2;
  --surely-table-header-sort-active-bg: #f2f2f2;
  --surely-table-header-filter-active-bg: rgba(0, 0, 0, 0.04);
  --surely-table-header-cell-split-color: rgba(0, 0, 0, 0.06);
  --surely-table-header-icon-color: rgba(0, 0, 0, 0.45);
  --surely-table-header-color: rgba(0, 0, 0, 0.85);
  --surely-table-header-icon-color-hover: rgba(0, 0, 0, 0.6);
  --surely-table-header-sort-bg: #f5f5f5;
  --surely-table-body-sort-bg: #fafafa;
  --surely-table-border-color: #ebebeb;
  --surely-table-border-color-base: #d9d9d9;
  --surely-table-cell-focus-border-color: #1677ff;
  --surely-table-disabled-color: rgba(0, 0, 0, 0.25);
  --surely-table-disabled-bg: #f5f5f5;
  --surely-table-text-color: rgba(0, 0, 0, 0.85);
  --surely-table-text-color-secondary: rgba(0, 0, 0, 0.45);
  --surely-table-ping-box-shadow-color: rgba(5, 5, 5, 0.06);
  --surely-table-popup-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  --surely-table-ghost-image-shadow-color: rgba(0, 0, 0, 0.15);
  --surely-table-box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
[data-surely-table-theme='dark']:root {
  --surely-table-bg: #141414;
  --surely-table-row-bg: #141414;
  --surely-table-row-hover-bg: #262626;
  --surely-table-row-insert-bg: #434343;
  --surely-table-row-selected-bg: var(--surely-table-primary-color-1);
  --surely-table-row-selected-hover-bg: var(--surely-table-primary-color-2);
  --surely-table-expanded-row-bg: transparent;
  --surely-table-component-background: #141414;
  --surely-table-background-color: #1d1d1d;
  --surely-table-background-color-selected: #1d1d1d;
  --surely-table-background-color-summary: #1d1d1d;
  --surely-table-text-color: rgba(255, 255, 255, 0.85);
  --surely-table-text-color-secondary: rgba(255, 255, 255, 0.45);
  --surely-table-disabled-color: rgba(255, 255, 255, 0.3);
  --surely-table-disabled-bg: rgba(255, 255, 255, 0.08);
  --surely-table-border-color-base: #434343;
  --surely-table-body-sort-bg: rgba(255, 255, 255, 0.01);
  --surely-table-border-color: #303030;
  --surely-table-box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.48),
    0 6px 16px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2);
  --surely-table-popup-shadow: var(--surely-table-box-shadow-base);
  --surely-table-ghost-image-shadow-color: var(--surely-table-box-shadow-base);
  --surely-table-ping-box-shadow-color: rgba(0, 0, 0, 0.45);
  --surely-table-header-color: rgba(255, 255, 255, 0.85);
  --surely-table-header-sort-bg: #262626;
  --surely-table-header-cell-split-color: rgba(255, 255, 255, 0.08);
  --surely-table-header-filter-active-bg: #434343;
  --surely-table-header-sort-active-bg: #303030;
  --surely-table-header-icon-color: #bfbfbf;
  --surely-table-header-icon-color-hover: #a6a6a6;
  --surely-table-header-drag-bg: #303030;
}
.surely-table.surely-table-middle .surely-table-cell-content {
  padding: 12px 8px;
}
.surely-table.surely-table-middle .surely-table-cell-box {
  padding: 0 8px;
}
.surely-table.surely-table-middle .surely-table-auto-header-height .surely-table-header-cell {
  padding: 12px 0 !important;
}
.surely-table.surely-table-small .surely-table-cell-content {
  padding: 8px 8px;
}
.surely-table.surely-table-small .surely-table-cell-box {
  padding: 0 8px;
}
.surely-table.surely-table-small .surely-table-auto-header-height .surely-table-header-cell {
  padding: 8px 0 !important;
}
.surely-table-small .surely-table-selection-column {
  width: 46px;
  min-width: 46px;
}
.surely-table-wrapper {
  clear: both;
  max-width: 100%;
}
.surely-table-wrapper::before {
  display: table;
  content: '';
}
.surely-table-wrapper::after {
  display: table;
  clear: both;
  content: '';
}
.surely-table-wrapper-dark {
  color-scheme: dark;
}
.surely-table {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--surely-table-text-color);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--surely-table-bg);
  font-size: 14px;
  border-radius: 6px 6px 0 0;
  flex-shrink: 0;
}
.surely-table [class^='surely-table'] {
  box-sizing: border-box;
  outline: none;
}
.surely-table-body-inner-measure,
.surely-table-body-scroll-measure {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  width: 100%;
  min-width: 100%;
  height: 1px;
  opacity: 0;
  z-index: -1;
}
.surely-table-scroll-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  width: 100%;
}
.surely-table-scroll-layer-inner {
  pointer-events: all;
}
.surely-table-position-absolute {
  position: absolute;
}
.surely-table-body,
.surely-table-header,
.surely-table-summary {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  flex-direction: row;
}
.surely-table-header {
  border-radius: 6px 6px 0 0;
}
.surely-table-header,
.surely-table-summary {
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background: var(--surely-table-background-color);
  transition: background-color 0.3s ease;
}
.surely-table-header .surely-table-row,
.surely-table-summary .surely-table-row {
  opacity: 1;
}
.surely-table-summary {
  z-index: 3;
  background: var(--surely-table-background-color-summary);
  border-top: 1px solid var(--surely-table-border-color);
}
.surely-table-summary .surely-table-fix-left,
.surely-table-summary .surely-table-fix-right {
  background: var(--surely-table-background-color-summary);
}
.surely-table-summary-fixed-top {
  border-top: none;
  border-bottom: 1px solid var(--surely-table-border-color);
}
.surely-table-summary-container {
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
}
.surely-table-body-container,
.surely-table-header-container,
.surely-table-summary-container {
  display: flex;
  height: 100%;
}
.surely-table-body-container > div,
.surely-table-header-container > div,
.surely-table-summary-container > div {
  flex-shrink: 0;
  flex-grow: 0;
}
.surely-table-body-viewport-container,
.surely-table-body-container {
  -webkit-overflow-scrolling: touch;
}
.surely-table-body-contextmenu-container {
  display: none;
}
.surely-table-popup-container {
  min-width: 120px;
  min-height: 60px;
}
.surely-table-body-contextmenu-container,
.surely-table-popup-container {
  position: absolute;
  z-index: 9;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--surely-table-component-background);
  border-radius: 6px;
  border: 1px solid var(--surely-table-border-color);
  overflow: auto;
  box-sizing: content-box !important;
  padding: 0;
  box-shadow: var(--surely-table-popup-shadow);
}
.surely-table-unselectable {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.surely-table-header-container .surely-table-center-container {
  height: 100%;
}
.surely-table-sticky-header {
  position: sticky;
  z-index: 9;
}
.surely-table-header:not(.surely-table-show-header-scrollbar) .surely-table-center-viewport {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}
.surely-table-header:not(.surely-table-show-header-scrollbar) .surely-table-center-viewport::-webkit-scrollbar {
  /* webkit */
  width: 0px;
  display: none;
}
.surely-table-center,
.surely-table-center-viewport,
.surely-table-horizontal-scroll-viewport {
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 100%;
}
.surely-table-center-viewport,
.surely-table-horizontal-scroll-viewport {
  overflow: hidden;
}
.surely-table-center-viewport {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: flex;
}
.surely-table-center-container {
  position: relative;
  display: block;
}
.surely-table-fix-left {
  position: relative;
  position: sticky;
  left: 0;
  z-index: 3;
}
.surely-table-fix-right {
  position: relative;
  position: sticky;
  right: 0;
  z-index: 3;
}
.surely-table-summary-cell-fixed-left {
  position: relative;
  position: sticky;
  left: 0;
  z-index: 3;
}
.surely-table-summary-cell-fixed-right {
  position: relative;
  position: sticky;
  right: 0;
  z-index: 3;
}
.surely-table-header-scrollbar,
.surely-table-summary-scrollbar {
  border-bottom: 1px solid var(--surely-table-border-color);
}
.surely-table .surely-table-cell-shadow-left::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 30px;
  transform: translateX(100%);
  transition: box-shadow 0.3s;
  content: '';
  pointer-events: none;
  box-shadow: inset 10px 0 8px -8px var(--surely-table-ping-box-shadow-color);
  opacity: 0;
}
.surely-table .surely-table-cell-shadow-right::after {
  box-shadow: inset -10px 0 8px -8px var(--surely-table-ping-box-shadow-color);
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  width: 30px;
  transform: translateX(-100%);
  transition: box-shadow 0.3s;
  content: '';
  pointer-events: none;
  opacity: 0;
}
.surely-table-ping-left .surely-table-cell-shadow-left::after,
.surely-table-ping-right .surely-table-cell-shadow-right::after {
  opacity: 1;
}
.surely-table-cell-fix-left,
.surely-table-cell-fix-right {
  position: sticky !important;
  z-index: 2;
  background: var(--surely-table-bg);
}
.surely-table-cell-fix-left-first::after,
.surely-table-cell-fix-left-last::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 30px;
  transform: translateX(100%);
  content: '';
  pointer-events: none;
}
.surely-table-cell-fix-right-first::after,
.surely-table-cell-fix-right-last::after {
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  width: 30px;
  transform: translateX(-100%);
  content: '';
  pointer-events: none;
}
.surely-table-ping-left .surely-table-cell-fix-left-first::after,
.surely-table-ping-left .surely-table-cell-fix-left-last::after {
  box-shadow: inset 10px 0 8px -8px var(--surely-table-ping-box-shadow-color);
}
.surely-table-ping-left .surely-table-cell-fix-left-last .surely-table-cell-box::before {
  opacity: 0;
}
.surely-table-ping-left .surely-table-cell-fix-left-last::before {
  background-color: transparent !important;
}
.surely-table-ping-right .surely-table-cell-fix-right-first::after,
.surely-table-ping-right .surely-table-cell-fix-right-last::after {
  box-shadow: inset -10px 0 8px -8px var(--surely-table-ping-box-shadow-color);
}
.surely-table-row {
  opacity: 0;
  color: var(--surely-table-text-color);
  background-color: var(--surely-table-row-bg);
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  transition: background-color 0.3s;
  border-bottom: 1px solid var(--surely-table-border-color);
}
.surely-table-row.surely-table-row-hover {
  background: var(--surely-table-row-hover-bg);
}
.surely-table-row.surely-table-row-selected {
  background-color: var(--surely-table-row-selected-bg);
}
.surely-table-row.surely-table-row-selected .surely-table-cell:not(.surely-table-body-cell-range-selected) {
  background-color: inherit;
}
.surely-table-row.surely-table-row-selected.surely-table-row-hover {
  background: var(--surely-table-row-selected-hover-bg);
}
.surely-table-row.surely-table-row-dragging,
.surely-table-row.surely-table-row-dragging-insert-target {
  background: var(--surely-table-row-hover-bg);
  cursor: move;
}
.surely-table-row.surely-table-row-dragging::after,
.surely-table-row.surely-table-row-dragging-insert-target::after {
  content: '';
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--surely-table-row-hover-bg);
  opacity: 0.5;
  cursor: move;
}
.surely-table-row.surely-table-row-dragging-insert-target {
  background: var(--surely-table-row-insert-bg);
}
.surely-table-row.surely-table-row-dragging-insert-target::after {
  background: var(--surely-table-row-insert-bg);
}
.surely-table-row.surely-table-row-selected.surely-table-row-dragging {
  background: var(--surely-table-row-selected-hover-bg);
}
.surely-table-row.surely-table-row-selected.surely-table-row-dragging-insert-target {
  background: var(--surely-table-row-insert-bg);
}
.surely-table-has-animate .surely-table-row {
  transition: transform 0.2s, top 0.2s, height 0.2s, background-color 0.1s;
}
.surely-table.surely-table-stripe .surely-table-body .surely-table-row-odd:not(.surely-table-row-selected) {
  background: var(--surely-table-background-color-selected);
}
.surely-table-cell {
  position: absolute;
  top: 0;
  height: 100%;
  flex: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--surely-table-border-color);
  overflow-y: hidden;
  overflow-y: clip;
  overflow-x: visible;
  padding: 0 !important;
}
.surely-table-cell[rowspan]:not([rowspan='1']):not(th) {
  z-index: 1;
  background-color: inherit;
}
.surely-table-cell[colspan]:not([colspan='1']):not(th) {
  z-index: 1;
  background-color: inherit;
}
.surely-table-cell [rowspan='0'] {
  visibility: hidden;
  z-index: -1;
}
.surely-table-cell-inline-edit:focus-within {
  outline-color: transparent;
}
.surely-table-cell-inline-edit > * {
  visibility: hidden;
}
.surely-table-cell > .surely-table-cell-edit-wrapper {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--surely-table-primary-color-4);
  box-sizing: border-box;
}
.surely-table-cell > .surely-table-cell-edit-wrapper > .surely-table-cell-edit-inner {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal;
  padding: 16px;
}
.surely-table-cell-edit-input {
  border-color: transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  -webkit-font-smoothing: subpixel-antialiased;
}
.surely-table-cell-edit-input:focus {
  background-color: transparent;
}
.surely-table-body-cell {
  border: 1px solid transparent;
}
.surely-table-body .surely-table-body-cell-range-selected:not(.surely-table-body .surely-table-body-cell-inline-edit) {
  background-color: var(--surely-table-primary-color-1);
}
.surely-table-body .surely-table-body-cell-range-selected-2:not(.surely-table-body .surely-table-body-cell-inline-edit) {
  background-color: var(--surely-table-primary-color-2);
}
.surely-table-body .surely-table-body-cell-range-selected-3:not(.surely-table-body .surely-table-body-cell-inline-edit) {
  background-color: var(--surely-table-primary-color-3);
}
.surely-table-body .surely-table-body-cell-range-selected-4:not(.surely-table-body .surely-table-body-cell-inline-edit) {
  background-color: var(--surely-table-primary-color-4);
}
.surely-table-body .surely-table-body-cell-range-selected.surely-table-body-cell-range-left {
  border-left-color: var(--surely-table-cell-focus-border-color);
}
.surely-table-body .surely-table-body-cell-range-selected.surely-table-body-cell-range-right {
  border-right-color: var(--surely-table-cell-focus-border-color);
}
.surely-table-body .surely-table-body-cell-range-selected.surely-table-body-cell-range-top {
  border-top-color: var(--surely-table-cell-focus-border-color);
}
.surely-table-body .surely-table-body-cell-range-selected.surely-table-body-cell-range-bottom {
  border-bottom-color: var(--surely-table-cell-focus-border-color);
}
.surely-table-body .surely-table-body-cell-range-selected.surely-table-body-cell-range-single-cell {
  border-color: var(--surely-table-cell-focus-border-color);
}
.surely-table-cell-hidden {
  visibility: hidden;
}
.surely-table-cell-multi .surely-table-cell-inner {
  overflow: auto;
  max-height: 100%;
}
.surely-table-cell-inner {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  min-width: 1px;
  flex-grow: 1;
  flex-shrink: 1;
  display: inline-flex;
  align-items: center;
}
.surely-table-cell-inner .surely-table-cell-content {
  padding: 16px 16px;
  width: 100%;
  overflow-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
}
.surely-table-cell-inner .surely-table-cell-content:not(.surely-table-cell-text-ellipsis) {
  white-space: normal;
  word-break: break-all;
}
.surely-table.surely-table-auto-height .surely-table-cell {
  display: flex;
  align-items: center;
}
.surely-table-header-cell {
  display: inline-flex;
  padding: 0 !important;
  align-items: center;
  float: left;
  color: var(--surely-table-header-color);
  font-weight: 500;
  text-align: left;
  overflow: visible;
  background-color: var(--surely-table-background-color);
  transition: background-color 0.2s ease;
}
.surely-table-header-cell[colspan]:not([colspan='1']) .surely-table-header-cell-title {
  text-align: center;
  justify-content: center;
}
.surely-table-extra-cell,
.surely-table-header-extra-cell {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  min-width: 1px;
  text-align: center;
}
.surely-table-header-cell-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: auto;
  max-width: 100%;
}
.surely-table-header-cell-title-inner {
  overflow: hidden;
  overflow-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  white-space: nowrap;
  flex-grow: 1;
}
.surely-table-auto-header-height .surely-table-header-cell {
  position: relative;
  padding: 16px 0 !important;
  display: table-cell;
  float: unset;
}
.surely-table-auto-header-height .surely-table-header-cell-title-inner {
  white-space: unset;
}
.surely-table-auto-header-height .surely-table-header-cell .surely-table-cell-box {
  width: unset;
}
.surely-table-summary-row {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid var(--surely-table-border-color);
}
.surely-table-summary-cell {
  position: relative;
  flex: 1;
  height: auto;
  background: var(--surely-table-background-color-summary);
  border-bottom: none;
  white-space: normal;
}
.surely-table-summary-cell-fixed-left,
.surely-table-summary-cell-fixed-right {
  z-index: 1;
}
.surely-table-column-title {
  position: unset;
  display: flex;
  width: 1px;
  z-index: 1;
  flex: 1;
}
.surely-table-cell-box {
  padding: 0 16px;
}
.surely-table-cell-box::before {
  position: absolute;
  top: 50%;
  right: 1px;
  width: 1px;
  height: 1.6em;
  pointer-events: none;
  background-color: var(--surely-table-header-cell-split-color);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: '';
}
.surely-table-cell-auto-height {
  height: 100%;
}
.surely-table-cell-wrap-text {
  white-space: normal;
  word-break: break-all;
}
.surely-table-cell-text-ellipsis,
.surely-table-cell-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.surely-table-cell-group {
  display: block;
  padding: 0 !important;
  border: none;
}
.surely-table-cell-group::before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 1.6em;
  pointer-events: none;
  background-color: var(--surely-table-header-cell-split-color);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: '';
  z-index: 1;
}
.surely-table-cell-group-title {
  text-align: center;
  position: relative;
  width: 100%;
  justify-content: center;
  background-color: var(--surely-table-background-color);
  transition: background-color 0.2s ease;
}
.surely-table-cell-group-title::before {
  background-color: transparent;
}
.surely-table-cell-group-children {
  padding: 0 !important;
  position: relative;
}
.surely-table-cell-group-children > div:last-child > .surely-table-cell-box::before {
  background-color: transparent;
}
.surely-table-cell-group-children > .surely-table-cell-group:last-child::before {
  background-color: transparent;
}
.surely-table-cell-group-children .surely-table-header-cell:first-child .surely-table-header-cell-title::before {
  background-color: transparent;
}
.surely-table-ping-left .surely-table-header .surely-table-fix-left .surely-table-header-cell:not(.surely-table-cell-group):last-child .surely-table-cell-box::before,
.surely-table-header-container .surely-table-last-columns .surely-table-header-cell:not(.surely-table-cell-group):last-child .surely-table-cell-box::before {
  background-color: transparent;
}
.surely-table-ping-left .surely-table-header .surely-table-fix-left .surely-table-row > .surely-table-cell-group:last-child::before,
.surely-table-header-container .surely-table-last-columns .surely-table-row > .surely-table-cell-group:last-child::before {
  background-color: transparent;
}
.surely-table-ping-left .surely-table-header .surely-table-fix-left .surely-table-resize-handle,
.surely-table-header-container .surely-table-last-columns .surely-table-resize-handle {
  right: 0px;
  width: auto;
  z-index: 1;
}
.surely-table-scrollbar-container {
  display: flex;
  min-width: 0px;
  flex: 1 1 auto;
  flex-direction: row;
}
.surely-table-horizontal-scroll {
  min-height: 0;
  min-width: 0;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 4;
}
.surely-table-horizontal-scroll-hidden {
  opacity: 0;
  transition: opacity 0.4s;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.surely-table-horizontal-scroll-viewport {
  overflow-x: scroll;
}
.surely-table-vertical-scroll {
  min-height: 0;
  height: 100%;
  position: relative;
  display: flex;
}
.surely-table-vertical-scroll-viewport {
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1 1 auto;
  position: relative;
}
.surely-table-vertical-scroll-hidden {
  opacity: 0;
  transition: opacity 0.4s;
  position: absolute;
  right: 0;
}
.surely-table-horizontal-scroll-hidden.surely-table-scrolling,
.surely-table-vertical-scroll-hidden.surely-table-scrolling,
.surely-table-scrollbar-active {
  opacity: 1;
  visibility: visible;
}
.surely-table-wrapper .surely-table-pagination {
  margin: 16px 0;
}
.surely-table-pagination {
  display: flex;
  float: none !important;
}
.surely-table-pagination-left {
  justify-content: flex-start;
}
.surely-table-pagination-center {
  justify-content: center;
}
.surely-table-pagination-right {
  justify-content: flex-end;
}
.surely-table-empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  padding: 16px 16px;
  overflow-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: background-color 0.3s;
}
.surely-table-expand-icon-col {
  width: 48px;
}
.surely-table-row-expand-icon-cell {
  text-align: center;
}
.surely-table-row-indent {
  float: left;
  height: 1px;
}
.surely-table-row-expand-icon {
  color: var(--surely-table-primary-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
  display: inline-flex;
  float: left;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  padding: 0;
  color: inherit;
  line-height: 17px;
  background: var(--surely-table-component-background);
  border: 1px solid var(--surely-table-border-color);
  border-radius: 4px;
  outline: none;
  transform: scale(0.94117647);
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.surely-table-row-expand-icon:focus,
.surely-table-row-expand-icon:hover {
  color: var(--surely-table-primary-color-5);
}
.surely-table-row-expand-icon:active {
  color: var(--surely-table-primary-color-7);
}
.surely-table-row-expand-icon:focus,
.surely-table-row-expand-icon:hover,
.surely-table-row-expand-icon:active {
  border-color: currentColor;
}
.surely-table-row-expand-icon::before,
.surely-table-row-expand-icon::after {
  position: absolute;
  background: currentColor;
  transition: transform 0.3s ease-out;
  content: '';
}
.surely-table-row-expand-icon::before {
  top: 7px;
  right: 3px;
  left: 3px;
  height: 1px;
}
.surely-table-row-expand-icon::after {
  top: 3px;
  bottom: 3px;
  left: 7px;
  width: 1px;
  transform: rotate(90deg);
}
.surely-table-row-expand-icon-collapsed::before {
  transform: rotate(-180deg);
}
.surely-table-row-expand-icon-collapsed::after {
  transform: rotate(0deg);
}
.surely-table-row-expand-icon-disabled {
  color: var(--surely-table-disabled-color);
  cursor: not-allowed;
}
.surely-table-row-expand-icon-disabled:focus,
.surely-table-row-expand-icon-disabled:hover,
.surely-table-row-expand-icon-disabled:active {
  border-color: var(--surely-table-border-color);
  color: var(--surely-table-disabled-color);
}
.surely-table-row-expand-icon-spaced {
  background: transparent;
  border: 0;
  visibility: hidden;
}
.surely-table-row-expand-icon-spaced::before,
.surely-table-row-expand-icon-spaced::after {
  display: none;
  content: none;
}
.surely-table-row-indent + .surely-table-row-expand-icon {
  margin-top: 2.5005px;
  margin-right: 8px;
}
.surely-table-expanded-row .surely-table-cell:not(.surely-table-body-cell-range-selected),
.surely-table-expanded-row .surely-table-cell:not(.surely-table-body-cell-range-selected):hover {
  background: var(--surely-table-expanded-row-bg);
}
.surely-table-title {
  padding: 16px 16px;
}
.surely-table-footer {
  padding: 16px 16px;
  color: var(--surely-table-text-color);
  background: var(--surely-table-background-color);
}
.surely-table .surely-table-column-has-sorters {
  cursor: pointer;
  transition: background-color 0.3s;
}
.surely-table .surely-table-column-has-sorters:hover {
  background: var(--surely-table-header-sort-active-bg);
}
.surely-table .surely-table-column-sort {
  background: var(--surely-table-header-sort-bg);
}
.surely-table-body .surely-table-column-sort {
  background: var(--surely-table-body-sort-bg);
}
.surely-table-column-sorters-with-tooltip {
  display: inline-flex;
  width: 100%;
}
.surely-table-column-sorters-with-tooltip:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}
.surely-table-column-sorters {
  flex: auto;
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.surely-table-column-sorters::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  pointer-events: none;
}
.surely-table-column-sorter {
  font-size: 0;
  transition: color 0.3s;
  margin-top: 0.15em;
  margin-bottom: -0.15em;
  margin-left: 8px;
  color: var(--surely-table-header-icon-color);
  flex-shrink: 0;
  flex-grow: 0;
}
.surely-table-column-sorter-full {
  margin-top: -0.2em;
  margin-bottom: 0;
}
.surely-table-column-sorter-inner {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.surely-table-column-sorter-up,
.surely-table-column-sorter-down {
  font-size: 11px;
}
.surely-table-column-sorter-up.active,
.surely-table-column-sorter-down.active {
  color: var(--surely-table-primary-color);
}
.surely-table-column-sorter-up + .surely-table-column-sorter-down {
  margin-top: -0.3em;
}
.surely-table-column-sorters:hover .surely-table-column-sorter {
  color: var(--surely-table-header-icon-color-hover);
}
.surely-table-resize-handle {
  position: absolute;
  top: 0;
  height: 100% !important;
  bottom: 0;
  left: auto !important;
  right: -7px;
  cursor: col-resize;
  touch-action: none;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
  width: 16px;
  z-index: 1;
}
.surely-table-resize-handle-line {
  display: block;
  width: 3px;
  margin-left: 7px;
  height: 100% !important;
  background-color: var(--surely-table-primary-color);
  opacity: 0;
}
.surely-table-resize-handle:hover .surely-table-resize-handle-line {
  opacity: 1;
}
.surely-table-resize-handle.dragging::before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  content: ' ';
  width: 200vw;
  transform: translate(-50%);
  opacity: 0;
}
.dragging .surely-table-resize-handle-line {
  opacity: 1;
}
.surely-table-has-icon-column {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}
.surely-table-filter-trigger,
.surely-table-menu-popup-trigger {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  margin: -4px -8px -4px 8px;
  padding: 0 4px;
  color: var(--surely-table-header-icon-color);
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
.surely-table-filter-trigger:hover,
.surely-table-menu-popup-trigger:hover {
  color: var(--surely-table-header-icon-color-hover);
  background: var(--surely-table-header-filter-active-bg);
}
.surely-table-filter-trigger.active,
.surely-table-menu-popup-trigger.active {
  color: var(--surely-table-primary-color);
}
.surely-table-menu-popup-trigger-hover > * {
  opacity: 0;
  transition: opacity 0.3s;
}
.surely-table-header-cell:hover .surely-table-menu-popup-trigger-hover > * {
  opacity: 1;
}
.surely-table-filter-dropdown-root .surely-table-filter-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--surely-table-text-color);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  min-width: 120px;
  background-color: var(--surely-table-component-background);
  border-radius: 6px;
  box-shadow: var(--surely-table-box-shadow-base);
}
.surely-table-filter-dropdown-root .surely-table-filter-dropdown-menu {
  max-height: 264px;
  overflow-x: hidden;
  border: 0;
  box-shadow: none;
}
.surely-table-filter-dropdown-root .surely-table-filter-dropdown-submenu > ul {
  max-height: calc(100vh - 130px);
  overflow-x: hidden;
  overflow-y: auto;
}
.surely-table-filter-dropdown-root .surely-table-filter-dropdown .surely-table-checkbox,
.surely-table-filter-dropdown-root .surely-table-filter-dropdown-submenu .surely-table-checkbox,
.surely-table-filter-dropdown-root .surely-table-filter-dropdown .surely-table-radio,
.surely-table-filter-dropdown-root .surely-table-filter-dropdown-submenu .surely-table-radio {
  top: 0.2em;
}
.surely-table-filter-dropdown-root .surely-table-filter-dropdown-btns {
  display: flex;
  justify-content: space-between;
  padding: 7px 8px 7px 3px;
  overflow: hidden;
  background-color: inherit;
  border-top: 1px solid var(--surely-table-border-color);
}
.surely-table-filter-dropdown-submenu .surely-table-checkbox,
.surely-table-filter-dropdown-submenu-submenu .surely-table-checkbox,
.surely-table-filter-dropdown-submenu .surely-table-radio,
.surely-table-filter-dropdown-submenu-submenu .surely-table-radio {
  top: 0.2em;
}
.surely-table-selection-wrap {
  display: flex;
  justify-content: center;
}
.surely-table-selection {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}
.surely-table-selection-extra {
  position: absolute;
  top: -3px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
  margin-inline-start: 100%;
  padding-inline-start: 4px;
}
.surely-table-selection-extra-dropdown-icon {
  color: var(--surely-table-header-icon-color);
  font-size: 10px;
}
.surely-table-selection-extra-dropdown-icon:hover {
  color: var(--surely-table-header-icon-color-hover);
}
.surely-table-tooltip-hide-arrow .ant-tooltip-arrow {
  display: none !important;
}
.surely-table-bordered {
  border: 1px solid var(--surely-table-border-color);
  border-right: 0;
}
.surely-table-bordered .surely-table-cell-box::before {
  background-color: transparent;
}
.surely-table-bordered .surely-table-cell.surely-table-body-cell-range-selected:not( .surely-table-body-cell-range-right):not(.surely-table-body-cell-range-single-cell) {
  border-right: 1px solid var(--surely-table-border-color);
}
.surely-table-bordered .surely-table-cell:not(.surely-table-body-cell-range-single-cell):not( .surely-table-body-cell-range-selected) {
  border-right: 1px solid var(--surely-table-border-color);
}
.surely-table-bordered .surely-table-extra-cell,
.surely-table-bordered .surely-table-header-extra-cell,
.surely-table-bordered .surely-table-cell-group {
  border-right: none;
}
.surely-table-bordered .surely-table-cell-group-title {
  border-bottom: 1px solid var(--surely-table-border-color);
}
.surely-table-bordered .surely-table-cell-no-right-bordered {
  border-right: none;
}
.surely-table-bordered .surely-table-header-scrollbar,
.surely-table-bordered .surely-table-summary-scrollbar {
  border-right: 1px solid var(--surely-table-border-color);
  border-left: 1px solid var(--surely-table-border-color);
  position: relative;
  z-index: 0;
}
.surely-table-bordered .surely-table-header-scrollbar::after,
.surely-table-bordered .surely-table-summary-scrollbar::after {
  position: absolute;
  top: 0;
  bottom: 0px;
  left: -1px;
  width: 1px;
  content: '';
  pointer-events: none;
  background: var(--surely-table-background-color);
}
.surely-table-bordered .surely-table-empty-container {
  border-right: 1px solid var(--surely-table-border-color);
}
.surely-table-bordered .surely-table-header-container .surely-table-header-cell-title::before,
.surely-table-bordered .surely-table-header-container .surely-table-cell-group::before {
  background-color: transparent;
}
.surely-table-bordered .surely-table-summary-fixed {
  border-right: 1px solid var(--surely-table-border-color);
}
.surely-table-bordered .surely-table-summary-fixed-bottom,
.surely-table-bordered .surely-table-summary-fixed-top {
  border-right: none;
}
.surely-table-bordered .surely-table-cell-fix-left-first::after,
.surely-table-bordered .surely-table-cell-fix-left-last::after {
  right: -1px;
}
.surely-table-wrapper-bordered .surely-table-title {
  border-right: 1px solid var(--surely-table-border-color);
  border-bottom: 1px solid var(--surely-table-border-color);
}
.surely-table-wrapper-bordered .surely-table-title + .surely-table {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.surely-table-wrapper-bordered .surely-table-footer {
  border: 1px solid var(--surely-table-border-color);
  border-top: 0;
}
.surely-table-checkbox {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--surely-table-text-color);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  line-height: unset;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  display: inline-block;
  align-items: center;
}
.surely-table-checkbox *,
.surely-table-checkbox *:before,
.surely-table-checkbox *:after {
  box-sizing: border-box;
}
.surely-table-checkbox:hover .surely-table-checkbox-inner,
.surely-table-checkbox-input:focus + .surely-table-checkbox-inner {
  border-color: var(--surely-table-primary-color);
}
.surely-table-checkbox-checked::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--surely-table-primary-color);
  border-radius: 6px;
  visibility: hidden;
  animation: surelyCheckboxEffect 0.36s ease-in-out;
  animation-fill-mode: backwards;
  content: '';
  box-sizing: border-box;
}
.surely-table-checkbox:hover::after {
  visibility: visible;
}
.surely-table-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  direction: ltr;
  background-color: var(--surely-table-row-bg);
  border: 1px solid var(--surely-table-border-color-base);
  border-radius: 4px;
  border-collapse: separate;
  transition: all 0.3s;
  box-sizing: border-box;
}
.surely-table-checkbox-inner::after {
  position: absolute;
  top: 50%;
  left: 21.5%;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid var(--surely-table-primary-color);
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(0) translate(-50%, -50%);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  content: ' ';
  box-sizing: border-box;
}
.surely-table-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.surely-table-checkbox-checked .surely-table-checkbox-inner::after {
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg) scale(1) translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  content: ' ';
}
.surely-table-checkbox-checked .surely-table-checkbox-inner {
  background-color: var(--surely-table-primary-color);
  border-color: var(--surely-table-primary-color);
}
.surely-table-checkbox-disabled {
  cursor: not-allowed;
}
.surely-table-checkbox-disabled.surely-table-checkbox-checked .surely-table-checkbox-inner::after {
  border-color: var(--surely-table-disabled-color);
  animation-name: none;
}
.surely-table-checkbox-disabled .surely-table-checkbox-input {
  cursor: not-allowed;
}
.surely-table-checkbox-disabled .surely-table-checkbox-inner {
  background-color: var(--surely-table-disabled-bg);
  border-color: var(--surely-table-border-color-base) !important;
}
.surely-table-checkbox-disabled .surely-table-checkbox-inner::after {
  border-color: var(--surely-table-disabled-bg);
  border-collapse: separate;
  animation-name: none;
}
.surely-table-checkbox-disabled + span {
  color: var(--surely-table-disabled-color);
  cursor: not-allowed;
}
.surely-table-checkbox-disabled:hover::after {
  visibility: hidden;
}
.surely-table-checkbox + span {
  padding-right: 8px;
  padding-left: 8px;
}
.surely-table-checkbox-indeterminate .surely-table-checkbox-inner {
  background-color: var(--surely-table-row-bg);
  border-color: var(--surely-table-border-color-base);
}
.surely-table-checkbox-indeterminate .surely-table-checkbox-inner::after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--surely-table-primary-color);
  border: 0;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  content: ' ';
}
.surely-table-checkbox-indeterminate.surely-table-checkbox-disabled .surely-table-checkbox-inner::after {
  background-color: var(--surely-table-disabled-color);
  border-color: var(--surely-table-disabled-color);
}
@keyframes surelyCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.surely-table-radio {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--surely-table-text-color);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  outline: none;
  cursor: pointer;
}
.surely-table-radio-wrapper:hover .surely-table-radio,
.surely-table-radio:hover .surely-table-radio-inner,
.surely-table-radio-input:focus + .surely-table-radio-inner {
  border-color: var(--surely-table-primary-color);
}
.surely-table-radio-input:focus + .surely-table-radio-inner {
  box-shadow: 0 0 0 3px var(--surely-table-primary-color-1);
}
.surely-table-radio-checked::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--surely-table-primary-color);
  border-radius: 50%;
  visibility: hidden;
  animation: surelyRadioEffect 0.36s ease-in-out;
  animation-fill-mode: both;
  content: '';
  box-sizing: border-box;
}
.surely-table-radio:hover::after,
.surely-table-radio-wrapper:hover .surely-table-radio::after {
  visibility: visible;
}
.surely-table-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border-color: var(--surely-table-border-color-base);
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  transition: all 0.3s;
  box-sizing: border-box;
}
.surely-table-radio-inner::after {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--surely-table-primary-color);
  border-top: 0;
  border-left: 0;
  border-radius: 8px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: ' ';
  box-sizing: border-box;
}
.surely-table-radio-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  border-radius: unset;
}
.surely-table-radio-checked .surely-table-radio-inner {
  border-color: var(--surely-table-primary-color);
}
.surely-table-radio-checked .surely-table-radio-inner::after {
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.surely-table-radio-disabled {
  cursor: not-allowed;
}
.surely-table-radio-disabled .surely-table-radio-inner {
  background-color: var(--surely-table-disabled-bg);
  border-color: var(--surely-table-border-color-base) !important;
  cursor: not-allowed;
}
.surely-table-radio-disabled .surely-table-radio-inner::after {
  background-color: var(--surely-table-disabled-color);
}
.surely-table-radio-disabled .surely-table-radio-input {
  cursor: not-allowed;
}
.surely-table-radio-disabled + span {
  color: var(--surely-table-disabled-color);
  cursor: not-allowed;
}
span.surely-table-radio + * {
  padding-right: 8px;
  padding-left: 8px;
}
@keyframes surelyRadioEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.surely-table-drag-handle {
  height: 100%;
  cursor: grab;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-left: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-width: 1px;
  flex-grow: 0;
  flex-shrink: 0;
}
.surely-table-drag-handle-disabled {
  cursor: not-allowed;
  color: var(--surely-table-disabled-color);
}
.surely-table-drag-icon {
  display: inline-block;
}
.surely-table-drag-dragging {
  cursor: move;
}
.surely-table-drag-column-dragging {
  background: var(--surely-table-header-drag-bg);
}
.surely-table-drag-column-dragging .surely-table-header-cell,
.surely-table-drag-column-dragging .surely-table-cell-group-title {
  background: var(--surely-table-header-drag-bg);
}
.surely-table-drag-ghost {
  background: var(--surely-table-row-hover-bg);
  cursor: move;
}
.surely-table-drag-placeholder {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--surely-table-primary-color);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.2s;
}
.surely-table-drag-column-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--surely-table-primary-color);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 3;
}
.surely-table-drag-ghost-image {
  position: absolute;
  display: inline-flex;
  align-items: center;
  cursor: move;
  color: var(--surely-table-text-color);
  margin: 0;
  padding: 8px 16px;
  white-space: nowrap;
  z-index: 99999;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  border: solid 1px;
  border-color: var(--surely-table-border-color);
  background: var(--surely-table-row-hover-bg);
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px var(--surely-table-ghost-image-shadow-color);
  font-size: 14px;
}
.surely-table-drag-ghost-image-icon {
  margin-right: 6px;
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.surely-table-drag-ghost-image-label {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
